@import url(https://fonts.google.com/specimen/Goblin+One);
html.body{
    width: 100%;
    height: 100%;
    font-family: Goblin;
    font-size: 25px;
    color: #222;
}
.navbar{
    background-color:rgba(82,64,120,1) ;
}
.navbar li a {
    color:cyan !important;
}
.navbar li a hover {
    color: dodgerblue !important;
}
.maincontainer{
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront h1, .theback h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront p, .theback p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard1{
    position: relative;
    top: -325px;
    left: -300px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard1:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront1{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback1{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront1 h1, .theback1 h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront1 p1, .theback1 p1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  
  
  .thecard2{
    position: relative;
    top: -640px;
    left: 300px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard2:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront2 h1, .theback2 h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront2 p, .theback2 p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  
  
  
  .thecard3{
    position: relative;
    top: -480px;
    left: 250px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard3:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront3 h1, .theback3 h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront3 p, .theback3 p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  .thecard4{
    position: relative;
    top: -800px;
    right: 200px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard4:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront4 h1, .theback4 h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront4 p, .theback4 p{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  
  html.body{
      width: 100%;
      height: 100%;
      font-family: Goblin;
      font-size: 25px;
      color: #222;
  }
  .navbar{
      background-color:rgba(85, 120, 64, 0.9) ;
  }
  .navbar li a {
      color:cyan !important;
  }
  .navbar li a hover {
      color: dodgerblue !important;
  }
  .carousel-inner image{
      width: 100%;
      width: fit-content;
  }
  .carousel-caption {
      position: absolute;
      top: 50%;
  }
  .carousel-caption h1 {
      font-size: 200%;
      text-transform: uppercase;
      text-shadow: 5px 10px 5px #000;
      top: -200px;
      left: 300px;
  }
  .carousel-caption h3 {
      font-size: 200%;
      text-shadow: 2px 2px 10px #000;
  }
  
  .btn-primary {
      background-color: rgb(82,64,120);
      border: 1px solid whitesmoke;
  }
  .btn-primary hover {
      background-color: rgb(62,44,100);
      border: 1px solid whitesmoke;
  }
  @media (math-width: 992px) {
      .carousel-caption {
          position: absolute;
          top: 50%;
      }
      .carousel-caption h1 {
          font-size: 250%;
          text-transform: uppercase;
          text-shadow: 5px 10px 5px #000;
      }
      .carousel-caption h3 {
          font-size: 200%;
          text-shadow: 2px 2px 10px #000;
      }
      .carousel-caption .btn{
          font-size: 120px;
      }
  }
  @media (math-width: 786px) {
      .carousel-caption {
          position: absolute;
          top: -50%;
      }
      .carousel-caption h1 {
          font-size: 250%;
          text-transform: uppercase;
          text-shadow: 5px 10px 5px #000;
      }
      .carousel-caption h3 {
          font-size: 200%;
          text-shadow: 2px 2px 10px #000;
      }
      .carousel-caption .btn{
          font-size: 120px;
      }
  }
  .imgae{
      width: 100%;
      width: fit-content;
  }
  .imgae1{
      width: 100%;
      width: fit-content;
  }
  .imgae2{
      width: 100%;
      width: fit-content;
  }
  .imgae3{
      width: 100%;
      width: fit-content;
  }
  .imgae4{
    width: 100%;
      width: fit-content;
  }
   
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .footer {
    display: block;
  }
